<div class="position-sticky" style="min-height: 100px;">
  <button cButton color="primary" class="position-absolute end-0" style="top: 3px; left: 2px;">
    Save
  </button>
</div>

<c-container breakpoint="lg" class="h-auto">
  <c-card>
    <c-card-body>
      <c-row>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">نام</label>
          <input aria-label="First name" cFormControl />
        </c-col>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">نام خانوادگی</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">کد ملی</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">فیلد اضافه</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
        <c-col xs="12" sm="12" md="12">
          <label cLabel for="inputEmail4">شرح</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>
