<!-- <c-footer
  class="sticky-top bg-white border-bottom py-2 d-flex justify-content-end"
>
  <button
    cButton
    color="primary"
    class="d-flex align-items-center gap-1"
    size="sm"
  >
    <svg cIcon name="cil-save"></svg>
    ذخیره
  </button>
  <button cButton color="secondary" size="sm">
    <svg cIcon name="cil-list" class="me-1" width="14" height="14"></svg>
  </button>
</c-footer> -->

<c-container breakpoint="lg" class="h-auto mt-4">
  <c-card>
    <c-card-header> اطلاعات عمومی </c-card-header>
    <c-card-body>
      <c-row>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">نام</label>
          <input aria-label="First name" cFormControl />
        </c-col>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">نام خانوادگی</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">کد ملی</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
        <c-col xs="12" sm="6" md="3">
          <label cLabel for="inputEmail4">فیلد اضافه</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
        <c-col xs="12" sm="12" md="12">
          <label cLabel for="inputEmail4">شرح</label>
          <input aria-label="Last name" cFormControl />
        </c-col>
      </c-row>
    </c-card-body>
  </c-card>
</c-container>
